body {
    background-color: #fdf6e3;  
}


p {
    font-size: 20px;
    text-align: justify;
    color: hsl(45, 100%, 20%);
    padding-left: 20px;
    padding-right: 20px;
    
}

h1.title{
    text-align: center;
}
h3.subtitle{
    text-align: center;
}

/* - - - - - - - - - - Header Stying - - - - - - - - - - -*/
/* Navigation Menu */
ul.primary-menu{
    list-style-type: none;
    overflow: hidden;
}
li.primary-item{
    float: left;
}
li.primary-item a{
    display: block;
    text-align: center;
    padding: 10px, 20px;
}
/* - - - - - - - - - - Header Styling- - - - - - - - - - -*/

/* - - - - - - - - - - Books Styling - - - - - - - - - - -*/

/* Poetry Books */
div.poem{
    white-space: pre-line;
}
p.stanza{
    white-space: pre-line;
    font-style: italic;

}

/* - - - - - - - - - - Books Styling - - - - - - - - - - -*/