/* 
Important Data 

---------------------------
Color Scheme
- #b58900 - Main Color
- #674d00 - Darker Color
----------------------------


*/

/* - - - - - - - - - - 404 Error- - - - - - - - - - -*/
body.error-page {
    text-align: center;
    align-content: center;
}

/* - - - - - - - - - - 404 Error - - - - - - - - - - -*/

body {
    background-color: #fdf6e3;  
}


p {
    font-size: 20px;
    text-align: justify;
    color: #835d2c;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    padding-bottom: 20px;
}
.characters li{
    font-size: 20px;
}

h1.title{
    text-align: center;
}
h3.subtitle{
    text-align: center;
}

/* - - - - - - - - - - Header Stying - - - - - - - - - - -*/
/* Navigation Menu */
ul.primary-menu{
    overflow: hidden;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    border-bottom: #674d00 2px solid;
}
li.menu-item{
    float: left;
}
li.menu-item a{
    display: block;
    color: #674d00;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
/* - - - - - - - - - - Header Styling- - - - - - - - - - -*/

/* - - - - - - - - - - Books Styling - - - - - - - - - - -*/

/* Poetry Books */
div.poem{
    white-space: pre-line;
}
p.stanza{
    white-space: pre-line;
    font-style: italic;
}
p.description{
    text-align: center;
    font-style: italic;
    font-weight: 525;
}
a.page-links {
    font-size: 20px;
}
div.table-of-contents ul{
    list-style-type: none;
    margin: 0; padding: 0;
}
div.table-of-contents li{
    padding-top: 20px;
}
div.table-of-contents a{
    text-decoration: none;
    color: #674d00;
    font-size: 16px;
    padding-left: 20px;
    
}
/*Books Menu*/
menu.books-menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
menu.books-menu a{
  display: block;
  padding: 10px 0 10px 0;
  text-decoration: none;  
  color: #674d00;
  font-size: 16px;
  
}
/* - - - - - - - - - - Books Styling - - - - - - - - - - -*/