/* 
Important Data 

---------------------------
Color Scheme
- #b58900 - Main Color
- #674d00 - Darker Color
----------------------------


*/

body {
    background-color: #fdf6e3;  
}


p {
    font-size: 20px;
    text-align: justify;
    color: #835d2c;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    padding-bottom: 20px;
}
ul{
    font-size: 20px;
}

h1.title{
    text-align: center;
}
h3.subtitle{
    text-align: center;
}

/* - - - - - - - - - - Header Stying - - - - - - - - - - -*/
/* Navigation Menu */
ul.primary-menu{
    overflow: hidden;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    border-bottom: #674d00 2px solid;
}
li.menu-item{
    float: left;
}
li.menu-item a{
    display: block;
    color: #674d00;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
/* - - - - - - - - - - Header Styling- - - - - - - - - - -*/

/* - - - - - - - - - - Books Styling - - - - - - - - - - -*/

/* Poetry Books */
div.poem{
    white-space: pre-line;
}
p.stanza{
    white-space: pre-line;
    font-style: italic;
}
p.description{
    text-align: center;
    font-style: italic;
    font-weight: 525;
}

/* - - - - - - - - - - Books Styling - - - - - - - - - - -*/